<h1>Puppies Are Here</h1>

<ul>
  <% @puppies.each do |puppy| %>
  <li>
    <%= puppy.name %> is a <%= puppy.age %> year old <%= puppy.breed %> who can <%= 'not' unless puppy.tricks %> do tricks.
  </li>
  <% end %>
</ul>
